.container
  footer.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.my-4.border-top
    .col-md-4.d-flex.align-items-center
      a(href='/', class='mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1')
        svg.bi(width='30', height='24')
          use(xlink:href='#bootstrap')
      span.mb-3.mb-md-0.text-muted © 2022 Company, Inc
    ul.nav.col-md-4.justify-content-end.list-unstyled.d-flex
      li.ms-3
        a.text-muted(href='#')
          svg.bi(width='24', height='24')
            use(xlink:href='#twitter')
          span twitter
      li.ms-3
        a.text-muted(href='#')
          svg.bi(width='24', height='24')
            use(xlink:href='#instagram')
          span instagram
      li.ms-3
        a.text-muted(href='#')
          svg.bi(width='24', height='24')
            use(xlink:href='#facebook')
          span facebook
