extends default

block content
  div.container.text-center
    h1 Loading...
    p Please wait while we generate your content.
    
    //- Advertisement content
    div.advertisement
      h2 Advertisement
      p This is a sample advertisement. Replace this with your actual ad content.
